.content {
    // background-image: url('https://wallpaperaccess.com/full/4317845.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}
