.collection-item {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.questao {
    margin-bottom: 30px;
}

.col {
    min-width: 1000px;
    max-width: 1000px;
}

.info {
    margin-top: 50px;
}

.btn {
    width: 100%;
    margin-top: 20px;
}